<div class="flex flex-col items-center mt-5 border-2 max-w-sm h-auto">
  <div class="text-center">
    <h1 class="text-4xl mb-5">Random Team Generator</h1>
    <ul class="border-2 py-2 px-2 mb-5">
      <li *ngFor="let teamMember of teamArray">
        {{ teamMember }}
      </li>
    </ul>
  </div>
  <div class="grid grid-cols-2 mb-5 mx-2">
    <input
      [(ngModel)]="newTeamMember"
      class="border-2 border-gray-800 rounded-md px-2 mr-2"
      type="text"
      placeholder="name"
    />
    <button
      type="submit"
      class="bg-gray-600 rounded-md px-2 text-white shadow-md"
      (click)="addTeamMember(newTeamMember)"
    >
      Add
    </button>
  </div>
  <div class="grid grid-cols-2 mb-5 mx-2">
    <input
      [(ngModel)]="numberOfTeams"
      class="border-2 border-gray-800 rounded-md px-2 mr-2"
      type="number"
      placeholder="# of teams"
    />
    <button
      type="submit"
      class="bg-gray-600 rounded-md px-2 text-white shadow-md"
      (click)="generateTeams(numberOfTeams)"
    >
      Generate Teams
    </button>
  </div>
</div>
<div
  *ngIf="
    teams.length !== 0 &&
    !isMoreTeamMembersNeeded &&
    !isNumberofTeamsZero &&
    !isNumberofMembersZero &&
    !isTeamFormationNotPossible
  "
  class="border-2 border-gray-600"
>
  <div *ngFor="let team of teams">
    <ul class="border-2 border-gray-600">
      <li *ngFor="let member of team">
        {{ member }}
      </li>
    </ul>
  </div>
</div>
<div *ngIf="isNumberofTeamsZero" class="text-red-600">
  Number of Teams Cant be Zero
</div>
<div *ngIf="isNumberofMembersZero" class="text-red-600">
  Add some members first
</div>
<div *ngIf="isMoreTeamMembersNeeded" class="text-red-600">
  More team Members Needed
</div>
<div *ngIf="isTeamFormationNotPossible" class="text-red-600">
  Team Formation Not Possible Evenly
</div>
